.Container {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .Form {
    display: flex;
    flex-direction: column;
  }
  
  .Label {
    margin: 10px;
  }
  
  .Input {
    padding: 8px;
    margin-left: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .Button-submit {
    padding: 10px 20px;
    background-color: #ccc;
    color: black    ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .Button-submit:hover {
    background-color: grey;
  }
  